﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    @*<li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>*@

                    <li>@Html.ActionLink("Albums Controller", "Index", "Albums")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)


<script>
    $(document).ready(function() {
        $('#createNewBtn').click(function() {
            $('#modal-body-addnew').load('@Url.Action("Create", "Albums")');
            $('#modal-addnew').modal();
            return false;
        });

        $('.addSongBtn').click(function () {
            var adres = $(this).attr('href');
            $('#modal-body-manipulation').load(adres);
            $('#modal-manipulation').modal();
            return false;
        });

        $('.editBtn').click(function () {
            var adres = $(this).attr('href');
            $('#modal-body-manipulation').load(adres);
            $('#modal-manipulation').modal();
            return false;
        });

        $('.detailsBtn').click(function () {
            var adres = $(this).attr('href');
            $('#modal-body-manipulation').load(adres);
            $('#modal-manipulation').modal();
            return false;
        });

        $('.delBtn').click(function () {
            var adres = $(this).attr('href');
            $('#modal-body-manipulation').load(adres);
            $('#modal-manipulation').modal();
            return false;
        });
    });
</script>

</body>
</html>
