﻿@model Domain.Models.Song


@using (Html.BeginForm("AddSong", "Albums", FormMethod.Post, new { @id = "addSongForm" })) 
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.HiddenFor(model => model.Album.Id)

        <div>
            <p id="addedInfo"></p>
        </div>

        <hr/>
        @Html.ValidationSummary(true, "", new {@class = "text-danger"})
        @*<div class="form-group">
            @Html.LabelFor(model => model.AlbumId, "AlbumId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("AlbumId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.AlbumId, "", new { @class = "text-danger" })
            </div>
        </div>*@

        <div class="form-group">
            @Html.LabelFor(model => model.Title, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.Title, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.Title, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Add Song" class="btn btn-default" id="addNewSongBtn" onclick="return false;" />
            </div>
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


<script>
    $('#addNewSongBtn').click(function () {
        var info = {
            AlbumId: $('#Album_Id').val(),
            Title: $('#Title').val()
        };
        $.ajax({
            url: 'Albums/AddSong',
            type: 'POST',
            data: JSON.stringify(info),
            contentType: 'application/json; charset=utf-8',
            success: function (msg) {
                console.log(msg);
                console.log(info);
                if(msg == 'true')
                $('#addedInfo').text("Song added successfully").fadeIn(2000).fadeOut(2000);
                $('#Title').val('');
            },
            error: function (msg) {
                console.log(msg);
            }
        });
    });
</script>