﻿@model Domain.Models.Album

@{
    ViewBag.Title = "Create";
}

@using (Html.BeginForm("Create", "Albums", FormMethod.Post)) 
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <div>
            <p id="addedInfo"></p>
        </div>

        @Html.ValidationSummary(true, "", new {@class = "text-danger"})
        <div class="form-group">
            @Html.LabelFor(model => model.Artist, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.Artist, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.Artist, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Title, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.Title, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.Title, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Genre, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.Genre, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.Genre, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Year, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.Year, new {htmlAttributes = new {@class = "form-control", @Value = 1900}})
                @Html.ValidationMessageFor(model => model.Year, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" id="addAlbumBtn" onclick="return false;"/>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script>
    $('#addAlbumBtn').click(function () {
        var info = {
            __RequestVerificationToken: $('#__RequestVerificationToken').val(),
            Artist: $('#Artist').val(),
            Title: $('#Title').val(),
            Genre: $('#Genre').val(),
            Year: $('#Year').val()
        };
        $.ajax({
            url: 'Albums/Create',
            type: 'POST',
            data: JSON.stringify(info),
            contentType: 'application/json; charset=utf-8',
            success: function (msg) {
                console.log(msg);
                $('#addedInfo').text("Album created successfully").fadeIn(2000).fadeOut(2000);
                refreshTable();
                location.reload();
            },
            error: function (msg) {
                console.log(msg);
            }
        });
    });

    function refreshTable() {
        $('#mainTable > tbody').empty();

        var jsondata;

        $.get('Albums/GetAllAlbums', function(data) {
            jsondata = jQuery.parseJSON(data);
            console.log(jsondata);

            $.each(jsondata, function (index, element) {
                $('table#mainTable TBODY').append('<tr><td>' + element.Artist + '</td><td>' + element.Title + '</td><td>' + element.Genre + '</td><td>' + element.Year + '</td><td>' +
                    '<a class="editBtn" href="/Albums/Edit/' + element.Id + '">Edit</a> | ' + 
                    '<a class="detailsBtn" href="/Albums/Details/' + element.Id + '">Details</a> | ' + 
                    '<a class="delBtn" href="/Albums/Delete/' + element.Id + '">Delete</a> | ' + 
                    '<a class="addSongBtn" href="/Albums/AddSong/' + element.Id + '">Add Songs</a>' + '</td></tr>');
            });
        });
    }
</script>