﻿@model Domain.Models.Album

@{
    ViewBag.Title = "Delete";
}

<h3 align="center">Are you sure you want to delete this album?</h3>
<hr/>
<div>

    @Html.HiddenFor(model => model.Id)

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Artist)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Artist)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Genre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Genre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Year)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Year)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Yes" class="btn btn-default" id="deleteAlbumBtn" onclick="return false;"/>
        </div>
    }
</div>

<script>
    $('#deleteAlbumBtn').click(function () {
        var info = {
            Id: $('#Id').val()
        };
        $.ajax({
            url: 'Albums/Delete',
            type: 'POST',
            data: JSON.stringify(info),
            contentType: 'application/json; charset=utf-8',
            success: function (msg) {
                console.log(msg);
                $('#addedInfo').text("Album deleted successfully").fadeIn(2000).fadeOut(2000);
                refreshTable();
                location.reload();
                $('#modal-manipulation').modal('hide');
            },
            error: function (msg) {
                $('#addedInfo').text(msg).fadeIn(2000).fadeOut(2000);
                console.log(msg);
            }
        });
    });

    function refreshTable() {
        $('#mainTable > tbody').empty();

        var jsondata;

        $.get('Albums/GetAllAlbums', function (data) {
            jsondata = jQuery.parseJSON(data);
            console.log(jsondata);

            $.each(jsondata, function (index, element) {
                $('table#mainTable TBODY').append('<tr><td>' + element.Artist + '</td><td>' + element.Title + '</td><td>' + element.Genre + '</td><td>' + element.Year + '</td><td>' +
                    '<a class="editBtn" href="/Albums/Edit/' + element.Id + '">Edit</a> | ' +
                    '<a class="detailsBtn" href="/Albums/Details/' + element.Id + '">Details</a> | ' +
                    '<a class="delBtn" href="/Albums/Delete/' + element.Id + '">Delete</a> | ' +
                    '<a class="addSongBtn" href="/Albums/AddSong/' + element.Id + '">Add Songs</a>' + '</td></tr>');
            });
        });
    }
</script>