﻿@model IEnumerable<Domain.Models.Album>

@{
    ViewBag.Title = "Index";
}

<h2>Album list</h2>

<p>
    <a class="btn btn-primary" id="createNewBtn">Add New Album</a>
</p>
<table class="table" id="mainTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Artist)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Year)
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Artist)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Genre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Year)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "editBtn" }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "detailsBtn" }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "delBtn" }) |
                    @Html.ActionLink("Add Songs", "AddSong", new { id = item.Id }, new { @class = "addSongBtn" })
                </td>
            </tr>
        }
    </tbody>

</table>

<div class="modal fade" id="modal-addnew">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Create new album</h4>
            </div>
            <div class="modal-body" id="modal-body-addnew">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-manipulation">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Album Actions</h4>
            </div>
            <div class="modal-body" id="modal-body-manipulation">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>